* {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  height: 75vh;
  margin: 0 auto;
  background-color: #052f89;
}

header {
  content: "";
  display: table;
  clear: both;
}

#logo {
  padding-top: 10px;
  padding-left: 110px;
}

.container_top_left, .container_top_center {
  float: left;
}

.container_top_right {
  float: right;
}

.clearfix {
  clear: both;
}

#nav_1 li, #nav_2 li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  padding-right: 30px;
}

#nav_1 li a, #nav_2 li a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

#nav_1 {
  margin-top: 25px;
  margin-left: 30px;
}

#nav_2 {
  margin-top: 25px;
  margin-left: 200px;
}

#lnk_2 {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 30px;
}

#lnk_3 {
  border: 1px solid #4fc126;
  border-radius: 5px;
  padding: 5px 30px;
  background-color: #4fc126;
}

.background_header {
  position: relative;
}

.background_header img {
  width: 100%;
}

.background_header_text {
  position: absolute;
  bottom: 150px;
  left: 100px;
  width: 50%;
  font-size: 30px;
  color: white;
}

.background_header_button a {
  position: absolute;
  bottom: 60px;
  left: 100px;
  text-decoration: none;
  color: white;
  background-color: #4fc126;
  padding: 20px 30px;
  border-radius: 5px;
}

.description {
  background-color: lightgrey;
  width: 100%;
}

.description h2 {
  text-align: center;
  padding: 50px;
  padding-bottom: 20px;
}

.description h5 {
  text-align: center;
  color: grey;
  padding-bottom: 30px;
}

.content_box_1, .content_box_2, .content_box_3 {
  float: left;
  width: 33.33333%;
  height: 500px;
  text-align: center;
  margin-top: 50px;
}

.content_box_1 img, .content_box_2 img, .content_box_3 img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.content_box_1 h2, .content_box_2 h2, .content_box_3 h2 {
  margin-top: 50px;
  color: #4fc126;
  padding: 0 30px;
}

.content_box_1 p, .content_box_2 p, .content_box_3 p {
  padding: 50px;
  color: grey;
}

.content_box_4, .content_box_5 {
  float: left;
  width: 50%;
  text-align: center;
}

.content_box_4 img {
  padding-top: 50px;
}

.content_box_5 h2 {
  padding-top: 50px;
  padding-left: 100px;
  text-align: left;
}

.content_box_5 p {
  text-align: left;
  padding-top: 20px;
  padding-left: 100px;
  color: grey;
}

.content_box_5 h5 {
  margin-top: 20px;
  text-align: left;
  padding-left: 100px;
}

.content_box_5 h5 a {
  color: blue;
}
